@font-face {
  font-family: 'DejaVu Sans';
  src: url('DejaVuSans.ttf') format('truetype');
}

body {
  font-family: 'DejaVu Sans', sans-serif;
}

.address {
  width: 36em;
}

#privkey {
  width: 54em;
}

.amount {
  width: 18em;
}

.justifyRight {
  text-align: right;
}

dl {
  display: flex;
  flex-flow: column wrap;
  max-height: 10em;
}
dt {
  font-weight: bold;
}
dd {
  margin: 0;
}

ul {
  list-style-type: none;
}

ul.logs {
  max-height: 10em;
  margin: auto;
  background-color: black;
  color: white;
  border-style: solid;
  border-color: oldlace;
  overflow: auto;
}

.amountGwei {
  width: 8em;
}

input[type=number].blocks {
  width: 6em;
}

input[type=number] {
  width: 4em;
}

#structure {
  width: 72em;
}

#createDiv > ul {
  padding: 0;
  list-style-type: none;
}

.hidden {
  display: none;
}
