@font-face {
  font-family: 'DejaVu Sans';
  src: url('DejaVuSans.ttf') format('truetype');
}

body {
  font-family: 'DejaVu Sans', sans-serif;
  font-size: large;
  background-color: #004;
  color: Lavender;
}

input {
  font-size: large;
  background-color: DarkSlateBlue;
  color: PapayaWhip;
}

input[type=text] {
  background-color: DarkSlateBlue;
  color: PapayaWhip;
}

input[type=text]:disabled {
  background-color: #382d7b;
}

input[type=button] {
  background-color: RoyalBlue;
  color: LightYellow;
}

input[type=button]:disabled {
  color: RoyalBlue;
  background-color: Navy;
  cursor: not-allowed;
  opacity: 0.6;
}

.address {
  width: 36em;
}

#privkey {
  width: 54em;
}

.amount {
  width: 18em;
}

.justifyRight {
  text-align: right;
}

dl + input[type="button"] {
  margin: auto;
  display: block;
}

dl {
  display: flex;
  flex-flow: column wrap;
  max-height: 10em;
  max-width: 40em;
  margin: auto;
  border-style: solid;
  border-color: OldLace;
  background-color: #002;
}
dt {
  font-weight: bold;
  color: MistyRose;
}
dd {
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul.game {
  padding: 1em;
  max-width: 40em;
  margin: auto;
}

ul#playDiv > li {
  padding-bottom: 2em;
}

ul.logs {
  max-height: 10em;
  max-width: 40em;
  margin: auto;
  padding-left: 0.5em;
  background-color: #002;
  color: White;
  border-style: solid;
  border-color: OldLace;
  overflow: auto;
}

ul.log > li {
  display: inline-block;
  margin-left: 0.5em;
}

ul.log > li.name {
  color: MistyRose;
}

ul.pots {
  display: inline-block;
}

ul.pots > li {
  display: inline-block;
  margin-left: 0.25em;
}

.actions {
  margin: auto;
  max-width: 40em;
}

.amountGwei {
  width: 8em;
}

input[type=number].blocks {
  width: 6em;
}

input[type=number] {
  width: 4em;
}

#structure {
  width: 72em;
}

#createDiv > ul {
  padding: 0;
  list-style-type: none;
}

.hidden {
  display: none;
}

ul.logs .card {
  font-size: large;
}

.card {
  font-size: xx-large;
}
.Hearts {
  color: LightPink;
}
.Diamonds {
  color: Moccasin;
}
.Clubs {
  color: PaleGreen;
}
.Spades {
  color: PowderBlue;
}
