@font-face {
  font-family: 'DejaVu Sans';
  src: url('DejaVuSans.ttf') format('truetype');
}

body {
  font-family: 'DejaVu Sans', sans-serif;
  background-color: #004;
  color: Lavender;
}

h2 {
  color: Plum;
  font-size: medium;
}

input {
  background-color: DarkSlateBlue;
  color: PapayaWhip;
  border: inset 1px Navy;
}

input[type=text]:disabled {
  background-color: #382d7b;
}

input[type=button] {
  background-color: RoyalBlue;
  color: LightYellow;
  border: outset 2px Gold;
}

input[type=button]:disabled {
  color: RoyalBlue;
  background-color: Navy;
  border-color: RoyalBlue;
  cursor: not-allowed;
  opacity: 0.6;
}

input[type=button].toggle {
  background-color: SteelBlue;
  color: SkyBlue;
  border: solid 1px;
  font-size: small;
}

.address {
  width: 36em;
}

#privkey {
  width: 54em;
}

.amount {
  width: 18em;
}

.amount:invalid, .amountWei:invalid + .amount {
  border: solid 1px Red;
}

.amountWei {
  display: none;
}

dl + input[type="button"], ul.logs + input[type="button"] {
  margin: auto;
  display: block;
}

dl {
  display: flex;
  flex-flow: column wrap;
  max-height: 10em;
  max-width: 40em;
  margin: auto;
  border-style: solid;
  border-color: OldLace;
  background-color: #002;
}
dt {
  font-weight: bold;
  color: MistyRose;
}
dd {
  margin: 0;
}

dl#txnInfo {
  max-width: 80em;
  overflow: auto;
  flex-flow: column nowrap;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul.game {
  padding: 1em;
  max-width: 40em;
  margin: auto;
  background-color: #020;
  border: solid;
  border-color: Black;
}

ul.game > li {
  margin: auto;
  width: 100%;
  text-align: center;
}

ul#playDiv > li {
  padding-bottom: 2em;
}

ul.logs {
  max-height: 10em;
  max-width: 40em;
  margin: auto;
  padding-left: 0.5em;
  background-color: #002;
  color: White;
  border-style: solid;
  border-color: OldLace;
  overflow: auto;
}

ul.log > li {
  display: inline-block;
  margin-left: 0.5em;
}

ul.log > li.name {
  color: MistyRose;
}

ul.pots {
  display: inline-block;
}

ul.pots > li {
  display: inline-block;
  margin-left: 0.25em;
}

ul.stacks {
  display: flex;
  justify-content: space-around;
}

ul.stacks > li {
  display: flex;
  justify-content: space-between;
  min-width: 10em;
  flex-wrap: wrap;
}

li.action {
  background-color: #040;
}

li.self > span.seat {
  background-color: #660;
  color: Pink;
}

li.action > span.seat {
  color: Violet;
}

li.dealer > span.seat {
  border: 2px solid GoldenRod;
  border-radius: 40%;
  padding-left: 2px;
  padding-right: 2px;
}

span.seat::before {
  content: "🧑";
}

span.stack::before {
  content: "🏦";
}

span.bet::before {
  content: "👛";
}

.actions {
  margin: auto;
  max-width: 40em;
  display: flex;
  justify-content: space-between;
}

div.bet {
  display: flex;
  flex-direction: row;
}

div.amount {
  display: flex;
  flex-direction: column;
  position: relative;
}

div.amount > input.amountWei {
  position: absolute;
}

.amountGwei {
  width: 8em;
}

input[type=number].blocks {
  width: 6em;
}

input[type=number].amount {
  width: 18em;
}

input[type=number] {
  width: 4em;
}

#structure {
  width: 72em;
}

#createDiv > ul {
  padding: 0;
  list-style-type: none;
}

.hidden {
  display: none;
}

ul.logs .card {
  font-size: large;
}

.card {
  font-size: xx-large;
}
.Hearts {
  color: LightPink;
}
.Diamonds {
  color: Moccasin;
}
.Clubs {
  color: PaleGreen;
}
.Spades {
  color: PowderBlue;
}
